<div class="top-menu navbar-fixed-top">
  <div class="container">
    <div class="row">
      <div class="col-md-3 menu-left">
        <a href="#">
          <img src="img/nitnot.id.jpg"/>
        </a>
      </div>
      <div class="col-md-6 menu-search">
        <form>
          <input class="form-control" type="text" placeholder="Masukkan pencarian Anda">
        </form>
      </div>
      <div class="col-md-3 menu-right">
        <ul>
          <li><i class="ion-android-person"></i></li>
          <li><i class="ion-ios-heart"></i></li>
          <li><i class="ion-ios-cart"></i></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="bottom-menu">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="top-search">
          <li><b>Pencarian Terbanyak:</b></li>
          <li><a href="#">hem batik</a></li>
          <li><a href="#">sarimbit bluss batik</a></li>
          <li><a href="#">legging</a></li>
          <li><a href="#">mukena bunga</a></li>
          <li><a href="#">kerudung</a></li>
          <li><a href="#">jarik batik</a></li>
          <li><a href="#">legging</a></li>
          <li><a href="#">mukena bunga</a></li>
          <li><a href="#">kerudung</a></li>
          <li><a href="#">jarik batik</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
